USE [master]
GO
/****** Object:  Database [DB3]    Script Date: 2022/08/29 13:46:56 ******/
CREATE DATABASE [DB3]
GO

USE [DB3]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 2022/08/29 13:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[B64Image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2022/08/29 13:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Sex] [nvarchar](50) NOT NULL,
	[Grade] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Sex], [Grade]) VALUES (0, N'Peter', N'Williamson', N'Male', 72)
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Sex], [Grade]) VALUES (1, N'Mary', N'Brennan', N'Female', 92)
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Sex], [Grade]) VALUES (2, N'Devon', N'Hamilton', N'Female', 7)
GO
USE [master]
GO
